header{
    background-image: url(/img/supla_background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}
.titulo{
    width: 20vw;
    height: fit-content;
    margin: 8.5vh 0 10vh 7vw;
    text-align: center;
}
.titulo h1{
    margin-bottom: 5vh;
}
.info a{
    text-decoration: none;
}






main{
    width: 100%;
    display: flex;
    gap: 30vh;
    flex-direction: column;
    background-image: url(/img/parede_textura.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.fogo{
    display: flex;
    justify-content: center;
}
.fogo img{
    margin-top: 17.5vh;
    width: 50vw;
}


.card1{
    width: 100%;
    margin-bottom: 5vh;
}
.card1 h1{
    margin-bottom: 3vh;
}
.card1 p{
    margin-bottom: 1vh;
}
.card1 img{
    border-radius: 10px;
}
.card1 a{
    color: white;
    text-decoration: underline;
}






.lado1{
    float: left;
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    height: fit-content;
}
.lado1 img{
    height: 40vw;
    align-self: center;
}
.texto1{
    background-color: rgb(159, 56, 255);
    width: 12vw;
    padding: 1.5%;
    align-self: center;
    border-radius: 5%;
}
.texto1 h1{
    text-align: center;
}



.lado2{
    float: right;
    margin: 50vh 3vw 0 0;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    width: 40vw;
}
.lado2 img{
    width: 40vw;
    align-self: center;
}
.texto2{
    width: 40vw;
    height: fit-content;
    align-self: center;
    text-align: center;
    border-radius: 5%;
    padding: 1.5%;
    background-color: rgb(159, 56, 255);
}
.texto2 h1{
    margin-bottom: 3vh;
    text-align: center;
}
.texto2 p:nth-child(6){
    margin-bottom: 0;
}



.lado3{
    float: left;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin: 20vh 0 0 6vw;
}
.lado3 img{
    width: 35vw;
    align-self: center;
}
.texto3{
    width: 30vw;
    height: fit-content;
    align-self: center;
    border-radius: 5%;
    padding: 1.5%;
    background-color: rgb(159, 56, 255);
}
.texto3 h1{
    text-align: center;
}



.lado4{
    float: right;
    display: flex;
    gap: 5%;
    margin: 6vh 6vw 16vh 0;
}
.lado4 img{
    width: 25vw;
    align-self: center;
}
.texto4{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 21.5vw;
    padding: 1.5%;
    border-radius: 5%;
    background-color: rgb(159, 56, 255);
}
.texto4 h1{
    text-align: center;
}




.lado5{
    float: left;
    display: flex;
    gap: 6vh;
    margin: -30vh 0 0 3vw;
}
.lado5 img{
    width: 40vw;
    align-self: center;
}
.texto5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    width: 30vw;
    padding: 1.5%;
    margin-bottom: 2vh;
    border-radius: 5%;
    background-color: rgb(159, 56, 255);
}




.junto1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 10vh;
    gap: 3.5%;
}


.lado6{
    display: flex;
    flex-direction: row-reverse;
    gap: 3vw;
}
.lado6 img{
    width: 18.5vw;
    align-self: center;
}
.texto6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 25vw;
    height: 80%;
    padding: 1.5%;
    margin-bottom: 2vh;
    border-radius: 5%;
    background-color: rgb(159, 56, 255);
}


.lado7{
    display: flex;
    gap: 3vw;
}
.lado7 img{
    width: 17.5vw;
    align-self: center;
}




.junto2{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 4%;
    margin-top: 20vh;
}
.junto2 img{
    object-fit: contain;
}
.texto7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 22.5vw;
    padding: 1.5%;
    margin-bottom: 2vh;
    border-radius: 5%;
    background-color: rgb(159, 56, 255);
}

.lado8{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 27.5%;
}


.lado9{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 27.5%;
}


.lado10{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 27.5%;
}